.hero-image {
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;
}
#heading1{
  position: relative;
  left: 10%;
  top: 1%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: white;
  display: inline-block;
  font-size: 10em;
  display: inline-block;
}
.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;
}
#footer{
  background-color:#fbb946;
  padding: 8% 8%;
}
.footer-div{
  text-align: center;
}
.fab{
  font-size: 4em;
  text-align: center;
  text-decoration: none;
}
.icons{
  margin: 0 5%;
  text-decoration: none;
  color: white;
  display: inline-block;

}
#footer a{
  text-decoration: none;
  color: white;
}

#footer a :hover{
  color: grey;
}
.container{
  padding: 5% 5%;
}
p
{
  font-family: 'Forum', cursive;
  padding: 8% 0;
  font-size: 2em;
}
hr{
  border: 0.5px solid #c2c2c2;
  width: 50%;
}
.navbar-logo{
  height: 110px;
  width: 120px;
  padding: 10%;
}
@media screen and (max-width:990px) {

  #heading1{
    font-size: 20vw;
    text-align: center;
    position: relative;
    top: 20%;
    padding-top: 30%;
  }
  .navbar-toggler{
    width: 4em;
    height: 3em;
  }

  .navbar-logo{
    height: 80px;
    width: 90px;
    padding: 5%;
  }
  .nav-link{
  font-size: 2.5em;
}
.container{
  padding: 10% 10%;
}
.fab{
  font-size: 8vw;
}
}
