
.navbar{
  padding-top: 0;
  padding-bottom: 0;
  background-color: black;
  opacity: 70%;

}
.navbar-logo{
  height: 70px;
  width: 80px;
  padding: 8%;
}
.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;

}

.nav-link{
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.hero-image {

  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#heading{
  position: relative;
  top: 20%;
  left: 10%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: white;
  font-size: 8em;
  display: inline-block;

}

.contact-info{
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}
.container{
  text-align: center;
}
.contact-div{
  padding: 4% 5%;
}
.contact-info-header{
  padding: 8% 0 1% 0;
  font-family: 'Forum', cursive;
  color: #616161;
}
.contact-info-button{
  background-color: #fbb946;
  color: white;
  border-radius: 25px;
  border-width: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  box-shadow: 2px 2px 5px grey;
  padding: 10px 20px;
}
.social-media-heading{
  padding: 4% 0 3% 0;
  font-family: 'Forum', cursive;
  color: #616161;
}
.social-buttons{
  background-color: #fbb946;
  color: white;
  border-width: 0;
  border-radius: 50px;
  font-size: 2em;
  margin: 0 3% 10% 3%;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px grey;
}
.footer{
  background-color: #fbb946;
  padding: 5%;
  text-align: center;
}
#copyright{
  font-size: 1em;


  color: grey;
  text-align: center;
}



@media screen and (max-width: 990px) {
    .nav-link{
    font-size: 1.5em;
  }
  #heading{
    font-size: 18vw;
    text-align: center;
    position: relative;
    top: 20%;
  }

  .navbar-toggler{
    width: 3em;
    height: 2em;
  }

  .navbar-logo{
    height: 60px;
    width: 70px;
  }

}
