.hero-image {

  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#heading{
  position: relative;
  top: 10%;
  left: 5%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: white;

  font-size: 8em;
  display: inline-block;




}
.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;

}

.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;

}
.col-lg-6{
  text-align: center;
  padding: 10% 10%;
}
.contact-div{
  background-color: #fbb946;
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  text-align: center;
  display: inline-block;




}
.contact-icon{
font-size: 10vw;
margin-top: 20%;
color: white;

}
.contact-div h4{
  font-size: 1.5vw;
  padding-top: 8%;
  color: grey;
  font-family: 'Forum', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}
#contact-info{
  padding: 5% 5%;
}
.contact-div-social{
  background-color: #fbb946;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  text-align: center;
  display: inline-block;



}
.col-lg-3{
  text-align: center;

  padding: 5% 5%;
  display: inline-block;
}
.social-icons{
   font-size: 5vw;
   padding-top: 25%;



   color: white;

}
#social-media{
  text-align: center;
  padding-bottom:10% ;
  padding-top: 5%;
}
#social-media h2{
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: grey;
  font-weight: bold;

  font-size: 5em;
  display: inline-block;

}
#footer{
  background-color:#fbb946;
  padding: 5% 0;
  text-align: center;

}
#footer p{
  color: grey;
}
hr{
  border: 0.5px solid #c2c2c2;
  width: 50%;

}
.navbar-logo{
  height: 110px;
  width: 120px;
  padding: 10%;

}



@media screen and (max-width: 990px) {
    .nav-link{
    font-size: 2.5em;
  }
  #heading{
    font-size: 20vw;
    text-align: center;
    position: relative;
    top: 5%;
  }

  .navbar-toggler{
    width: 4em;
    height: 3em;
  }

  .navbar-logo{
    height: 60px;
    width: 70px;
  }
  .contact-div{
    height: 40vw;
    width: 40vw;
    padding: 50px;
    text-align: center;
  }
  .contact-icon{
  font-size: 15vw;
  margin: 0;


  }
  .contact-div h4{
    font-size: 2.5vw;
  }
  .contact-div-social{
    height: 20vw;
    width: 20vw;
    font-size: 10vw;
  }
  #social-media h2{
    font-size: 10vw;
  }
}
@media screen and (max-width:575px){
  .contact-div{
    height: 60vw;
    width: 60vw;
    padding-top: 5%;
  }

  .contact-div h4{
    font-size: 4vw;
    position: relative;

  }

  .contact-icon{
    margin-top: 20%;
  }
  .contact-div-social{
    height: 40vw;
    width: 40vw;
    font-size: 10vw;
  }
  .social-icons{
     font-size: 15vw;
     padding-top: 27%;



  }
  #email{
    position: relative;
    right: 15%;
  }
}
