.hero-image {

  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#heading{
  color: white;
  font-size: 10em;
}
