


.heading {


  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.photo-nav-div{
  height: inherit;
  width: inherit;
}




.photo-nav{
  display: inline-block;
  position: relative;
  left: 10%;
  padding: 3% 2%;
  font-size: 2em;
  font-family: 'Forum', cursive;
  font-style: bold;
  letter-spacing: 1px;
  color: white;

}




.nav-item{
  margin-left: auto;
}




#heading1{
  position: relative;
  left: 10%;
  top: 1%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: white;

  font-size: 10em;
  display: inline-block;
  width: auto;

}
.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;
}
@media screen and (max-width: 990px) {
  .nav-link{
    font-size: 2.5em;
  }
  .navbar-toggler{
    width: 4em;
    height: 3em;
  }

  .navbar-logo{
    height: 80px;
    width: 90px;
  }
  #heading1{
    font-size: 20vw;
    position: relative;
    /* left: 6%; */

  }
  .nav-link{
    font-size: 2.5em;
  }
  .heading{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    left: 0;
  }
  .photo-nav{
    font-size: 5vw;
    padding: 7% 3vw;
    position: relative;
    left: 0;
    display: inline-block;

  }
  .photo-nav-div{
    text-align: center;
  }
  #baby{
    padding-top: 3%;
  }

}
