.hero-image {

  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo{
  height: 200px;
  width: 250px;
  margin: 20px auto auto 40px;
  display: inline-block;
  position: relative;
}



.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;

}
.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;
}
#quote{
  padding: 10% 15%;
  font-family: 'Forum', cursive;

}
.col-lg-6{
  background-color: #fbb946;
  padding: 10% 15%;
  border-style: solid;
  border-color: white;
  border-width: 20px;
  text-align: center;


}
.col-lg-6 h3{
  color: white;
  font-family: 'Forum', cursive;
  letter-spacing:1px;
}

#services h2{
  padding-left: 10%;
  font-size:70px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: #616161;
}
#footer{
  background-color:#fbb946;
  padding: 5% 10%;


}
.fab{
  padding: 0 5%;
  position: relative;
  left: 15%;
  font-size: 2em;

}
#footer a{
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 480px) {
  .nav-link{
    font-size: 3.5em;
  }
  .fab{
    font-size: 4em;
  }
  h2{
    font-size: 100px;
  }
  h3{
    font-size: 5em;

  }
}
