.hero-image {

  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo{
  height: 60%;
  width: 60%;

}
.title h4{
  color: white;
  font-family: 'Forum', cursive;
  font-size: 1.5em;

}



.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;

}
.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;
}
.navbar-logo{
  height: 110px;
  width: 120px;
  padding: 10%;

}
#quote{
  padding: 10% 15%;
  font-family: 'Forum', cursive;

}
.col-lg-6{
  background-color: #fbb946;
  padding: 10% 10% ;
  border-style: solid;
  border-color: white;
  border-width: 20px;

  text-align: center;
  display: inline-block;


}
.col-lg-6 h3{
  color: white;
  font-family: 'Forum', cursive;
  letter-spacing:1px;
  border: none;
}

#services h2{
  padding-left: 15%;
  font-size:5em;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: #616161;
}
#footer{
  background-color:#fbb946;
  padding: 8% 8%;


}
.fab{


  font-size: 4em;
  text-align: center;

}
#footer a{
  text-decoration: none;
  color: white;
}
#footer a :hover{
  color: grey;
}
@media screen and (max-width: 990px) {
  .nav-link{
    font-size: 2.5em;
  }
  .fab{
    font-size: 8vw;
  }
  #services h2{
    font-size: 4em;
  }
  h3{
    font-size: 2em;

  }
  .navbar-toggler{
    width: 4em;
    height: 3em;
  }
  #hero-section .btn{



  }
  .title{
    margin-left: 0;
  }
  .logo{
    width: 70%;
    height: 70%;
  }
  .navbar-logo{
    height: 60px;
    width: 70px;
  }
}

.icons{

  margin: 0 5%;

}
.footer-div{
  text-align: center;
}
.title{
  text-align: center;
  margin-left: 50px;
  width: 50vw;
}
