html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  width: 100%;
}

.hero-image {
  background-image: url("../Images/background.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo{
  height: 55%;
  width: 55%;

}
.title h4{
  color: white;
  font-family: 'Forum', cursive;
  font-size: 1.5em;

}



.navbar-toggler{
  margin-left: auto;
  border-color: white;
}
.nav-item{
  margin-left: auto;


}
.nav-link{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
  letter-spacing: 1px;

}

.navbar-logo{
  height: 100px;
  width: 110px;
  padding: 10%;


}
#quote{
  padding: 10% 15%;
  font-family: 'Forum', cursive;
  text-align: center;

}




#footer{
  background-color:#fbb946;
  padding: 8% 8%;
  margin-top: 20px;


}
#connect{
  text-align: center;
  font-size: 1.5em;
  color:  white;
  font-family: 'Forum', cursive;

}



.contact-button{
  margin: 3%;
  font-family: 'Forum', cursive;
  font-weight: bold;
  letter-spacing: 1px;

}

.section-headings{

  padding-top: 2%;
  font-size:5em;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  color: #616161;
  text-align: center;
}

.icons{
  font-size: 2em;
  text-align: center;
  margin: 0 3%;
  text-decoration: none;
  color: white;


}
.icons:hover{
  color: grey;
}
.footer-div{
  text-align: center;
}
.title{
  text-align: center;
  margin-left:2% ;
  width: 50vw;
  position: relative;
}
.see-more-buttons{

  margin-top: 5%;
  text-align: center;
  color: #616161;
  font-weight: bold;
  font-family: 'Forum', cursive;
  font-size: 1.2em;

}
.see-more{
  text-align: center;
}

hr{
  border: 0.5px solid #c2c2c2;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.work-headings{
  font-family: 'Forum', cursive;
  font-size: 3em;
  text-align: center;
  padding: 5% 0;
  color: #616161;


}
#copyright{
  font-size: 1em;
  margin-top: 8%;
  margin-bottom: 0;
  color: grey;
  text-align: center;
}
#services{
  padding: 10% 0;
}

.service-image{
  width: 500px;
  height:450px;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  padding-top: 90px;
  z-index: 1;


}
.service-info{
  display: inline-block;
  width: 420px;
  height: 470px;
  background-color: #fbb946 ;
  position: relative;
  left: 450px;
  text-align: center;
  padding: 2%;
  box-shadow: 10px 10px 10px grey;
}
.service-cards{
  position: relative;
  padding: 4% 0;
  left: 4.2%;
}
.service-headings{
  padding-left: 50px;
  padding-top: 35%;
  padding-bottom: 9%;
  padding-right: 50px;
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  color: white;
}
.contact-now-buttons{
  color: white;

  font-family: 'Forum', cursive;
  font-size: 1.2em;
}

.card-container{
  text-align: center;
}

@media screen and (min-width: 991px){
  #service-cards-section-mob{
    display: none;
  }
}


@media screen and (max-width: 990px) {
  .nav-link{
    font-size: 2.5em;
  }

  #services h2{
    font-size: 4em;
  }
  h3{
    font-size: 2em;

  }
  .navbar-toggler{
    width: 4em;
    height: 3em;
  }

  .title{
    margin-left:1% ;
  }
  .logo{
    width: 70%;
    height: 70%;
  }
  .navbar-logo{
    height: 60px;
    width: 70px;
  }
  #our-work h2{
    font-size: 4em;
  }
  #services{
    display: none;

  }

  .card{
    margin-left:4.5vw ;
    margin-top: 10%;
    width: 70vw;
    box-shadow: 5px 5px 10px #616161;



  }
  .card-body{
    background-color:#fbb946;
    text-align: center;
  }
  .service-card-heading-mob{
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    color: white;
    padding: 3% 2%;

  }
  .card-container{
    padding-left: 7%;
  }



}






/* image gallery style */



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 50px;
  margin: 0;

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 10px;
}

.column img {
  margin-top: 20px;


  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 990px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;

  }
  .row{
    padding: 0 3vw;
  }
}
